<html>
<head>
	<title>Karanbir Bains</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/project.css">
</head>
<body>
	<div id="About" class="tabcontent">
	  <h1>Karanbir Bains</h1> 
	  <img className="img-rounded" id="profilePic" src='https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAkLAAAAJGYwNDBkZTMwLTUxOGUtNDJiNi05ODY5LWIxYTI0MjZhYWUwYw.jpg'/>
	</div>

	<div id="Projects" class="tabcontent">
	  <h1>Projects</h1>
	  <h3>"A dream does not become reality through magic; it takes sweat, determination and hard work." 
		– Colin Powell</h3> 
	</div>

	<div id="Experience" class="tabcontent">
	  <h1>Experience</h1>
	  <h3>“There are no mistakes in life, only lessons. There is no such thing as a negative experience, only opportunities to grow, learn and advance along the road of selfmastery." – Robin S. Sharma </h3>
	</div>

	<div id="Connect" class="tabcontent">
	  <h1>Connect</h13>
	  <h3>"Alone we can do so little, Together we can do so much." – Helen Keller</h3>
	</div>

	<a href="/"><button class="tablink">About Me</button></a>
	<button class="tablink" onclick="openTab('Projects', this, 'orange')" id="defaultOpen">Projects</button>
	<a href="/exp"><button class="tablink">Experience</button></a>
	<a href="/connect"><button class="tablink">Connect</button></a>


	<div class="container">
		<div class="row">
			{{#each projects}}
				<div class="project col-xs-4 col-sm-4 col-md-4 col-lg-4 card" id="{{id}}">
					<h1 class="Title">{{title}}</h1>
					<div class="thumbnail">
						<a href="{{viewLink}}">
							<img src="{{image}}" class="img">
						</a>
					</div>
					<div class="details{{id}}">
						<h2 class="Summary">Summary:</h2>
						<p class="Body">{{summary}}</p>
						<a href="{{githubLink}}"><h2>Github Repository</h2></a>
						<a href="{{viewLink}}"><h2>Project Link</h2></a>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	<br>
	<br>
	<br>
	<footer class="footer navbar-fixed-bottom">
			  Copyright &copy; 2018 Karanbir Bains
	</footer>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/project.js"></script>

</body>
</html>
